<table class="table table-dark table-sm table-striped">
  <thead>
    <caption>{{title}}</caption>
    <tr>
      <th>Giorno</th>
      <th>Data</th>
      <th>Città</th>
      <th>Prezzo</th>
      <th>Prezzo Ciascuno</th>
      <th>Caparra</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr app-tappa *ngFor="let tappa of tappe" id="{{tappa.id}}" [tappa-data]="tappa" (onSelectTappa)="onSelectTappa($event)"
      (onDeleteTappa)="onDeleteTappa($event)">
  
    </tr>
  </tbody>
  
  </table>